<header>
	<section class="header-container">
		<ul class="nav nav-pills nav-justified navBar">
			<li>{{#link-to "index" class="mainLink"}}<i class="fa fa-rebel fa-3x" aria-hidden="true"></i>{{/link-to}}</li>
			<li>{{#link-to "user" class="navBarLink"}}Usuarios{{/link-to}}</li>
		</ul>

	</section>
</header>
<section>
	{{outlet}}
</section>
<footer>
	
</footer>