<article class="new-user-container">

<label class="index-initiation--label">
	¡Bienvenido a mi primer CRUD con EmberJS!
</label>
<div class="tomster-animation--container">
	 <img class="tomster--image" src="/assets/images/tomster.png" alt="tomster">
	 <img class="tomster-over--image" src="/assets/images/tomster_over.png" alt="tomster-over">
	 <div class="tomseter-eyes--container">
		 <span class="tomster-eye left-eye"></span>
		 <span class="tomster-eye right-eye"></span>	
	 </div>
	 
</div>
</article>	